<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAi1qsPzQCtEd9LGlobEMYgFVNcLu1q5QY</string>
	<key>GCM_SENDER_ID</key>
	<string>890701715669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasepractice.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>practice-of-firebase-bd6d7</string>
	<key>STORAGE_BUCKET</key>
	<string>practice-of-firebase-bd6d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890701715669:ios:613afad7ccf57687496a5c</string>
</dict>
</plist>